
* { 
    margin:0px;
    padding:0px;
    font-family:'Poiret One', cursive; 
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

h1,
h2 {
    text-align: center;
    font-family: 'Gill Sans';
    
}

.section-flex{
    display: flex;
    flex-wrap: wrap ;
}

.character {
    width: 25%;
    margin: 3%;
    border: 2px #E6E6E6 solid;
    border-right: 3px  #E6E6E6 solid;
    border-bottom: 3px #E6E6E6 solid;
    text-align: center;
    border-radius: 20px;
}
.character img {
    width: 80%;
    border-radius: 3%;

}.info-character {
    text-align: justify;
    padding: 3%;
}

h2 {
    font-weight: bold;
    margin: 2%;

}

footer {
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
}

footer p{
    padding-top: 2%;
}


/* CSS Formulario*/

form {
    margin-left: 20%;
    width: 80%;
    text-align: left;
    margin-top: 5%;
}

.element-flex {
    width: 100%;
    margin-bottom: 2%;
}

.check{
    width: 40%;
    height: 50%;
    
    

}
.label{
    width: 20%;
    float: left;
        
}

.element-flex input, 
select,
textarea{
    width: 70%;
    height: 30px;
}

.btn-div {
    text-align: center;
    width: 80%;
    margin-bottom: 20%;

}

.btn-div button {
    background-color: blue;
    border: 5px blue solid;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    color: white;
    margin-top: 15%;
}


